<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2>What's Bookers?</h2>
      <p>
        "Bookers"とは DMM WEBCAMP のコンテンツ課題である。
      </p>
    </div>
  </div>
</div>